<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Criar contato</title>
</head>
<body>
    <%- include('includes/nav'); %>
    <%- include('includes/messages'); %>
    <div class="contact-container">
        <div class="title-container">
            <h1>Contato</h1>
            <p>Crie ou edite contatos abaixo:</p>
        </div>
        <div class="contact-form-container">
            <% if(contato._id) { %>
            <form action="/contato/edit/<%= contato._id %>" method="POST">
            <% } else { %>
            <form action="/contato/register" method="POST">
            <% } %>
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <label for="email">Email:</label>
                <input type="email" value="<%= contato.email %>" name="email" id="email">
                <label for="nome">Nome:</label>
                <input type="text" value="<%= contato.nome %>" name="nome" id="nome">
                <label for="telefone">Telefone:</label>
                <input type="tel" value="<%= contato.telefone %>" name="telefone" id="telefone">
                <br>
                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>
</body>
</html>