<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Create Contact</title>
</head>
<body>
    <%- include('includes/nav'); %>
    <main class="main-contact">
        <div class="contact-container">
            <div class="contact-form-container">
                <div class="title-container">
                    <h1>Schedule</h1>
                    <p>Add or edit contacts here.</p>
                </div>
                <% if(contato._id) { %>
                <form action="/contato/edit/<%= contato._id %>" method="POST">
                <% } else { %>
                <form action="/contato/register" method="POST">
                <% } %>
                    <input class="input" type="hidden" name="_csrf" value=<%= csrfToken %>>
                    <label class="label" for="email">Email:</label>
                    <input class="input" type="email" value="<%= contato.email %>" name="email" id="email" placeholder="Type the email">
                    <label class="label" for="nome">Nome:</label>
                    <input class="input" type="text" value="<%= contato.nome %>" name="nome" id="nome" placeholder="Type the name">
                    <label class="label" for="telefone">Telefone:</label>
                    <input class="input" type="tel" value="<%= contato.telefone %>" name="telefone" id="telefone" placeholder="Type the number">
                    <br>
                    <button class="button" type="submit">Save</button>
                </form>
                <%- include('includes/messages'); %>
            </div>
        </div>
    </main>
</body>
</html>